# Основные настройки по умолчанию
defaults
   timeout connect 5s    # Таймаут подключения к серверу
   timeout client 1m     # Таймаут ожидания данных от клиента
   timeout server 1m     # Таймаут ожидания данных от сервера

# Frontend для статистики HAProxy (опционально)
frontend stats
   bind *:9091           # Порт для доступа к статистике
   mode http             # Режим работы (HTTP)
   stats uri /           # URI для доступа к статистике
   stats show-legends    # Показывать легенду
   no log                # Не логировать запросы к статистике

# Основной frontend для обработки входящих HTTP-запросов
frontend http_front
   bind *:8080           # Порт, на котором HAProxy будет слушать запросы
   default_backend http_back  # Указываем backend для обработки запросов

# Backend для балансировки нагрузки между серверами
backend http_back
    balance roundrobin   # Алгоритм балансировки (round-robin)
    
    # Серверы для балансировки
    server city-service1 city-service1:8443 check  # Первый экземпляр city-service
    server city-service2 city-service2:8443 check  # Второй экземпляр city-service