defaults
   timeout connect 5s
   timeout client 1m
   timeout server 1m

frontend stats
   bind *:9091
   mode http
   stats uri /
   stats show-legends
   no log

frontend http_front
   bind *:8080
   default_backend http_back

backend http_back
    balance roundrobin
    option httpchk
    http-check send meth GET uri /ping
    server route-service1 10.5.0.2:8181 check
    server route-service2 10.5.0.3:8182 check